<body>
  <!-- <div id="loader"></div> -->
  <!-- <div class="container"> -->
  <div class="col-lg-3 col-md-3 col-sm-12 nopadding">

    <!-- LOGO -->
    <div class="logo nopadding">
      <a href="/"><img style="max-width:10em;" src="/img/treffen-logo.png" alt="treffen logo the most socialist meetup app"></a>
      <p class="text-muted">The Most Socialistic Meetup App Ever</p>
    </div>

    <!-- LEFTBAR -->
    <div class="leftbar">
      <p class="lead">Type in zip codes separated by commas to find your place to meet.</p>
      <br>

      <form action="/zip" method="post">

        <div class="row form-input">
          <div class="col-md-2 col-sm-2">
            <i class="material-icons">people</i>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="zip" name="zip">
              <label class="mdl-textfield__label" for="zip">Zip Codes...</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row form-input">
          <div class="col-md-2 col-lg-2">
            <i class="material-icons">local_cafe</i>
          </div>
          <div class="col-md-10 col-lg-10">
         <div class="mdl-selectfield mdl-js-selectfield">
           <select class="mdl-selectfield__select" id="yelp" name="term">
             <option value=""></option>
             <option value="coffee">Coffee</option>
             <option value="tea">Tea</option>
             <option value="bars">Bars</option>
             <option value="animalshelter">Animal Shelters</option>
             <option value="airport">Airport</option>
             <option value="aquarium">Aquariums</option>
             <option value="pizza">Pizza</option>
             <option value="museum">Museums</option>
             <option value="zoos">Zoos</option>
             <option value="japanese">Japanese</option>
             <option value="noodles">Noodles</option>
             <option value="dessert">Dessert</option>
             <option value="bubbletea">Bubble Tea</option>
             <option value="restaurant">Restaurants</option>
             <option value="indian">Indian</option>
           </select>
           <label class="mdl-selectfield__label" for="yelp">Yelp Categories</label>
         </div>


<!--
            <select class="form-control" name="term" id="select-cat" placeholder="Select a category">
              <option selected >Select a category</option>
              <option value="coffee">Coffee</option>
              <option value="tea">Tea</option>
              <option value="bars">Bars</option>
              <option value="animalshelter">Animal Shelters</option>
              <option value="airport">Airport</option>
              <option value="aquarium">Aquariums</option>
              <option value="pizza">Pizza</option>
              <option value="museum">Museums</option>
              <option value="zoos">Zoos</option>
              <option value="japanese">Japanese</option>
              <option value="noodles">Noodles</option>
              <option value="dessert">Dessert</option>
              <option value="bubbletea">Bubble Tea</option>
              <option value="restaurant">Restaurants</option>
              <option value="indian">Indian</option>
            </select> -->
          </div>
        </div>
        <br><br>
        <input type="submit" class="myButton" name="button" value="GO">
      </form>
    </div>

<div class="matrix">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-lg-2 alignright">
        <i class="material-icons">access_time</i>
      </div>
      <div class="col-lg-10 col-md-10 col-lg-10">
        <p>Travel Time: {{matrix}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-lg-2 alignright">
        <i class="material-icons">navigation</i>
      </div>
      <div class="col-lg-10 col-md-10 col-lg-10">
        <p>Distance: {{distance}}</p>
      </div>
    </div>
  </div>

    <div class="contact nopadding">
      <hr class="primary">
      <p>Created by
        <a href="http://www.julianamei.com/"> Juliana Mei 2018</a>
      </p>
    </div>

  </div>
  <!-- MAP -->
  <div class="col-lg-9 col-md-9 col-sm-12 nopadding">
    <div id="map"></div>
  </div>
