body{
  font-family: 'Oswald', sans-serif;
  color: #faebd7;
}
#map {
 height: 400px;
 width: 100%;
}
#wrapper{
  /*commented out background to optimize loading time during development*/
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://img.sxsw.com/2015/spg_images/IAP44473.png') no-repeat center center fixed;*/
    background-size: cover;
  padding-top: 50px;
}

h1{
  text-transform: uppercase;
  font-family: 'Oswald';
}
h3{
  font-size: 150px;
}
p{
  font-size: 20px;
}
#what{
  text-align: center;
  margin-top: 50px;
  padding:20px;
}
#about{
  text-align: center;
  padding:10px;
  background-color: rgba(255,255,255,0.4);
}
.selfie{
  border-radius:50%;
  width: 25%;
}
#home{
  padding-top:20px;
  height: 100vh;
}
#home img{
    max-width: 100%;
    height: auto;
}

input{
    color: #000;
}
